---
title: Constraint satisfaction solver (Java™, Open Source)
layout: base
---

.row
  .col-md-5
    .jumbotron(style="padding: 10px; margin-top: 10px; margin-bottom: 20px;")
      .text-center<
        %a.btn.btn-lg.btn-success.versionedButton(href="#{site.pom.latestFinal.distributionZip}")<
          %img(src="download/download.png" alt="Download")
          %div
            %span Download OptaPlanner
            %br
            %span.small #{site.pom.latestFinal.version}
      %h4
        Try the examples now:
      %ol
        %li Download the zip and unzip it
        %li
          On Linux/Mac, run
          %code examples/runExamples.sh
          %br
          On Windows, run
          %code examples/runExamples.bat
      .small
        Requires
        %a(href="http://www.java.com")< Java™
        to run.
    .jumbotron(style="padding: 10px; margin-bottom: 20px;")
      .text-center<
        %a.btn.btn-lg.btn-primary.versionedButton(href="#{site.pom.latestFinal.documentationHtmlSingle}")<
          %img(src="learn/documentation.png" alt="Documentation")
          %div
            %span Read documentation
            %br
            %span.small #{site.pom.latestFinal.version}
      %h4
        Read the
        %a(href="#{site.pom.latestFinal.documentationHtmlSingle}#quickStart")
          Quick Start
        chapter.

  .col-md-7
    %div(style="margin-bottom: 20px")
      :markdown
        # What is OptaPlanner?

        OptaPlanner is **a constraint satisfaction solver.** It optimizes business resource planning.
        Every organization faces scheduling puzzles: assign a limited set of *constrained* resources (employees, assets,
        time and money) to provide products or services to customers.
        OptaPlanner optimizes such planning problems to **do more business with less resources**.
        Use cases include Vehicle Routing, Employee Rostering, Job Scheduling, Bin Packing and many more.

        OptaPlanner is **a lightweight, embeddable planning engine**. It enables normal Java™ programmers to solve
        optimization problems efficiently. Constraints apply on plain domain objects and can reuse existing code.
        There's no need to input difficult mathematical equations.
        Under the hood, OptaPlanner combines sophisticated optimization heuristics and metaheuristics
        (such as Tabu Search, Simulated Annealing and Late Acceptance) with very efficient score calculation.

        OptaPlanner is **open source software**, released under [the Apache Software License](code/license.html).
        It is written in 100% pure Java™, runs on any JVM and is available in [the Maven Central repository](download/download.html) too.

.jumbotron.pagination-centered(style="padding: 10px; margin-bottom: 20px;")
  %ul.nav.nav-justified#whatIsCarouselButtons
    %li.active(data-target="#whatIsCarousel" data-slide-to="0")
      %a(href="#" data-toggle="tab") Video
    %li(data-target="#whatIsCarousel" data-slide-to="1")
      %a(href="#" data-toggle="tab") Use cases
    %li(data-target="#whatIsCarousel" data-slide-to="2")
      %a(href="#" data-toggle="tab") Usage
    %li(data-target="#whatIsCarousel" data-slide-to="3")
      %a(href="#" data-toggle="tab") Integration
    %li(data-target="#whatIsCarousel" data-slide-to="4")
      %a(href="#" data-toggle="tab") Compatibility
    %li(data-target="#whatIsCarousel" data-slide-to="5")
      %a(href="#" data-toggle="tab") Scalability
  .carousel.slide#whatIsCarousel(data-ride="carousel" data-interval="false" style="background-color: white;")
    -#.carousel-inner(style="align: center;")
    .carousel-inner
      .item.active
        %div(style="min-width: 800px; min-height: 600px; text-align: center; padding-top: 75px;")
          %iframe(width="800" height="450" src="https://www.youtube.com/embed/f4jIWbQpjdE?rel=0" frameborder="0" allowfullscreen)
      .item
        %img(src="landingPage/useCaseOverview.png" alt="Use case overview" width="800" height="600")
      .item
        %img(src="landingPage/inputOutputOverview.png" alt="Usage" width="800" height="600")
      .item
        %img(src="landingPage/integrationOverview.png" alt="Integration" width="800" height="600")
      .item
        %img(src="landingPage/compatibility.png" alt="Compatibility" width="800" height="600")
      .item
        %img(src="landingPage/scalabilityOfOptimizationAlgorithms.png" alt="Scalability" width="800" height="600")
    %a.left.carousel-control(href="#whatIsCarousel" data-slide="prev")
      %span.glyphicon.glyphicon-chevron-left
    %a.right.carousel-control(href="#whatIsCarousel" data-slide="next")
      %span.glyphicon.glyphicon-chevron-right

.row
  .col-md-5
    = partial('latestBlogPosts.html.haml', :outputPage => page)
  .col-md-2
    = partial('latestReleases.html.haml', :outputPage => page)
  .col-md-5
    = partial('events.html.haml', :outputPage => page)
