---
layout: blogBase
---
.post
  %h1.title 
    #{page.post.title}
  .byline
    .author
      by
      = partial('userBadge.html.haml', :outputPage => page.outputPage, :userId => page.post.author)
    .date
      on #{page.post.date.strftime('%d-%^b-%Y')}
  %hr
  .body
    ~ page.post.content
  .tags
    %span.glyphicon.glyphicon-tags
    &nbsp;tagged as
    - page.post.tags.each do |tag|
      %a{:href=>tag.primary_page.url}<
        %span.label.label-info #{tag}
  %hr
  .comments
    = page.post.disqus_comments
