---
layout: blogBase
---
.post
  %h1.title(style="border-bottom: 1px solid #eee;")
    %a{:href => relative(page.post.url, page.outputPage)}
      = page.post.title
  .byline
    .date.small.pull-right
      #{page.post.date.strftime('%-d %B %Y')}
    .author
      = partial('userBadge.html.haml', :outputPage => page.outputPage, :userId => page.post.author)
  .body
    ~ page.post.content
  %div
    %a.pull-right{:href => relative(page.post.url, page.outputPage)}
      %span.label.label-default Permalink
    .tags
      %span.glyphicon.glyphicon-tags
      &nbsp;tagged as
      - page.post.tags.each do |tag|
        %a{:href=>tag.primary_page.url}<
          %span.label.label-info #{tag}
  %hr
  .comments
    = page.post.disqus_comments
