%div(style="text-align: right; padding-right: 10px; margin-bottom: 20px;")
  %a(href="#{relative("/index.html", page.outputPage)}" style="text-decoration: none;")
    %img(src="#{relative("/website/flags/us.png", page.outputPage)}")>
    %img(src="#{relative("/website/flags/gb.png", page.outputPage)}")
  \-
  %a(href="#{relative("/localized/fr/index.html", page.outputPage)}" style="text-decoration: none;")
    %img(src="#{relative("/website/flags/fr.png", page.outputPage)}")
  \-
  %a(href="#{relative("/localized/de/index.html", page.outputPage)}" style="text-decoration: none;")
    %img(src="#{relative("/website/flags/de.png", page.outputPage)}")
  \-
  %a(href="#{relative("/localized/zh/index.html", page.outputPage)}" style="text-decoration: none;")
    %img(src="#{relative("/website/flags/cn.png", page.outputPage)}")
  \-
  %a(href="#{relative("/localized/ja/index.html", page.outputPage)}" style="text-decoration: none;")
    %img(src="#{relative("/website/flags/jp.png", page.outputPage)}")
