%div(style="text-align: right; padding-right: 10px; margin-bottom: 20px;")
  %a(href="#{relative("/index.html", page.outputPage)}" style="text-decoration: none;")
    %img(src="#{relative("/localized/flags/png/gb.png", page.outputPage)}")
  \-
  %a(href="#{relative("/localized/fr/index.html", page.outputPage)}" style="text-decoration: none;")
    %img(src="#{relative("/localized/flags/png/fr.png", page.outputPage)}")
  \-
  %a(href="#{relative("/localized/de/index.html", page.outputPage)}" style="text-decoration: none;")
    %img(src="#{relative("/localized/flags/png/de.png", page.outputPage)}")
  \-
  %a(href="#{relative("/localized/jp/index.html", page.outputPage)}" style="text-decoration: none;")
    %img(src="#{relative("/localized/flags/png/jp.png", page.outputPage)}")
  -#\-
  -#%a(href="#{relative("/localized/cn/index.html", page.outputPage)}" style="text-decoration: none;")
  -#  %img(src="#{relative("/localized/flags/png/cn.png", page.outputPage)}")
