---
description: Reference manual (user guide) of OptaPlanner, also includes quick start, use cases and examples overview, ...
layout: normalBase
priority: 1.0
change_frequency: weekly
title: Documentation
---

:asciidoc
  = #{page.title}

  [[FinalReleases]]
  == Final releases

%ul(class="nav nav-tabs download-nav-tabs")
  %li(class="active")
    %a(href="#engine" data-toggle="pill") Engine
  %li
    %a(href="#workbench" data-toggle="pill") Workbench
  %li
    %a(href="#execution-server" data-toggle="pill") Execution Server

%div(class="tab-content download-tab-content")
  %div(id="engine" class="tab-pane fade in active")
    :asciidoc
      * image:documentation.png[Documentation] OptaPlanner Engine reference manual #{site.pom.latestFinal.version}:
        ** #{site.pom.latestFinal.engineDocumentationHtmlSingle}[HTML Single] -
        #{site.pom.latestFinal.engineDocumentationPdf}[PDF]

        ** Javadocs:
        #{site.pom.latestFinal.javadocs}[HTML]

        ** Drools Expert reference manual:
        #{site.pom.latestFinal.droolsExpertDocumentationHtmlSingle}[HTML Single]

      * Red Hat subscription documentation: Check https://access.redhat.com/documentation/[the customer portal].
  %div(id="workbench" class="tab-pane fade")
    :asciidoc
      * image:documentation.png[Documentation] *#{site.pom.latestFinal.kieWorkbenchDocumentationHtmlSingle}[OptaPlanner Workbench reference manual #{site.pom.latestFinal.version}]*

      * Red Hat subscription documentation: Check https://access.redhat.com/documentation/[the customer portal].
  %div(id="execution-server" class="tab-pane fade")
    :asciidoc
      * image:documentation.png[Documentation] *#{site.pom.latestFinal.kieExecutionServerDocumentationHtmlSingle}[OptaPlanner Execution Server reference manual #{site.pom.latestFinal.version}]*

      * Red Hat subscription documentation: Check https://access.redhat.com/documentation/[the customer portal].

:asciidoc
  [[NightlySnapshots]]
  === Nightly snapshots

  Nightly snapshots are unstable binaries, build automatically by our CI server.

%ul(class="nav nav-tabs download-nav-tabs")
  %li(class="active")
    %a(href="#engine-nightly" data-toggle="pill") Engine
  %li
    %a(href="#workbench-nightly" data-toggle="pill") Workbench
  %li
    %a(href="#execution-server-nightly" data-toggle="pill") Execution Server

%div(class="tab-content download-tab-content")
  %div(id="engine-nightly" class="tab-pane fade in active")
    :asciidoc
      * image:documentation.png[Documentation] *#{site.pom.nightly.engineDocumentationZip}[OptaPlanner Engine reference manual #{site.pom.nightly.version}]*
  %div(id="workbench-nightly" class="tab-pane fade")
    :asciidoc
      * image:documentation.png[Documentation] *#{site.pom.nightly.kieWorkbenchDocumentationZip}[OptaPlanner Workbench reference manual #{site.pom.nightly.version}]*
  %div(id="execution-server-nightly" class="tab-pane fade")
    :asciidoc
      * image:documentation.png[Documentation] *#{site.pom.nightly.kieExecutionServerDocumentationZip}[OptaPlanner Execution Server reference manual #{site.pom.nightly.version}]*

:asciidoc
  [[OlderReleases]]
  == Older releases

%ul(class="nav nav-tabs download-nav-tabs")
  %li(class="active")
    %a(href="#engine-older" data-toggle="pill") Engine
  %li
    %a(href="#workbench-older" data-toggle="pill") Workbench
  %li
    %a(href="#execution-server-older" data-toggle="pill") Execution Server

%div(class="tab-content download-tab-content")
  %div(id="engine-older" class="tab-pane fade in active")
    :asciidoc
      For older community releases, check https://docs.optaplanner.org/[the documentation archive].
  %div(id="workbench-older" class="tab-pane fade")
    :asciidoc
      For older community releases, check https://docs.optaplanner.org/[the documentation archive].
  %div(id="execution-server-older" class="tab-pane fade")
    :asciidoc
      For older community releases, check https://docs.optaplanner.org/[the documentation archive].
