---
title: Events archive
description: A list of all past and future OptaPlanner events.
layout: normalBase
priority: 0.1
---
%h1 #{page.title}
%ul.list-unstyled
  - for event in site.events.reverse
    %li(style="margin-bottom: 10px;")
      .title
        - if !event.eventUrl.empty?
          %a{:href => event.eventUrl} #{event.eventOrganization}
        - else
          #{event.eventOrganization}
      %span
        #{event.location} - #{event.date.strftime('%a %-d %B %Y')}
      - if !event.talks.empty?
        %ul.list-unstyled
          - for talk in event.talks
            %li(style="margin-left: 20px;")
              - if !talk.url.empty?
                %a{:href => talk.url} #{talk.title}
              - else
                #{talk.title}
              - if !talk.presenters.empty?
                %span.small
                  by #{talk.presenters}
              - if !talk.videoUrl.empty?
                %span
                  (
                  %a{:href => talk.videoUrl}< Video recording
                  )
