---
description: A list of developers and other people who have contributed to this project.
layout: normalBase
title: Team
---

-# To add your name on this page, also add your yourself in /data/users.yml

%h1 #{page.title}
%p
  This page only mentions <em>active contributors</em>, who have contributed significantly to OptaPlanner in the last year.
  If your name belongs in this list,
  %a{:href => "https://github.com/kiegroup/optaplanner-website/blob/master/_config/users.yml"} submit a pull request
  with the appropriate changes.

%h2 Research & Development
%ul(style="list-style: none")
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'ge0ffrey', :mode => 'long')
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'triceo', :mode => 'long')
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'rsynek', :mode => 'long')
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'yurloc', :mode => 'long')
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'Christopher-Chianelli', :mode => 'long')
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'wmedvede', :mode => 'long')
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'jucui', :mode => 'long')

%h2 Quality Assurance
%ul(style="list-style: none")
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'dupliaka', :mode => 'long')
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'michaltomco', :mode => 'long')
  %li and the rest of the Red Hat Decision Manager QA team

%h2 Marketing and Product Management
%ul(style="list-style: none")
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'DuncanDoyle', :mode => 'long')
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'kmacedovarela', :mode => 'long')
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'PhilSimpson35', :mode => 'long')

%h2 Documentation
%ul(style="list-style: none")
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'emmurphy1', :mode => 'long')
  %li The Red Hat Decision Manager documentation team

%h2 Build, continuous integration and releases
%ul(style="list-style: none")
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'mbiarnes', :mode => 'long')
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'mareknovotny', :mode => 'long')
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'emingora', :mode => 'long')
  %li and the rest of the Red Hat Decision Manager productization team

%h2 Community contributors
%ul(style="list-style: none")
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'MusaTalluzi', :mode => 'long')
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'gsheldon', :mode => 'long')
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'mcimbora', :mode => 'long')
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'oskopek', :mode => 'long')
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'snurkabill', :mode => 'long')
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'elsam', :mode => 'long')
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'fhornain', :mode => 'long')
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'rbourner', :mode => 'long')
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'tdavid', :mode => 'long')
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'bibryam', :mode => 'long')
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'mdanter', :mode => 'long')
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'blackjack92', :mode => 'long')
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'mrietveld', :mode => 'long')
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'psiroky', :mode => 'long')
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'FredPraca', :mode => 'long')
  %li
    See <a href="https://www.openhub.net/p/optaplanner/contributors/summary">historic contributors on Open HUB</a>.

%h2 Umbrella KIE R&D team (Drools, Kogito, ...)
%ul(style="list-style: none")
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'mariofusco', :mode => 'long')
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'etirelli', :mode => 'long')
  %li
    = partial('userBadge.html.haml', :outputPage => page, :userId => 'mdproctor', :mode => 'long')
  %li and the rest of the KIE team.
