---
priority: 0.2
change_frequency: monthly
---
!!! 5
%html(itemscope="" itemtype="http://schema.org/Product"){:lang => page.lang ? page.lang : site.lang}
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title #{escape_once(site.title + " - " + page.title)}
    %meta(name="description"){:content => page.description ? page.description : site.description}
    %meta(name="keywords"){:content => page.keywords ? page.keywords : site.keywords}
    %link(rel="canonical"){:href => "#{site.canonicalBaseUrl}#{page.url}"}
    -# Social media: make it look good when shared
    %meta(property="og:title"){:content => escape_once(site.title + " - " + page.title)}
    %meta(property="og:description"){:content => page.description ? page.description : site.description}
    %meta(property="og:url"){:content => "#{site.canonicalBaseUrl}#{page.url}"}
    %meta(property="og:type"){:content => page.ogType ? page.ogType : "website"}
    %meta(property="og:image"){:content => "#{site.canonicalBaseUrl}/headerFooter/optaPlannerIcon.png"}
    %meta(name="twitter:card"){:content => "summary"}
    %meta(name="twitter:site"){:content => "@OptaPlanner"}

    %link(rel="stylesheet"){:href => relative("/website/bootstrap/css/bootstrap.min.css")}
    %link(rel="stylesheet"){:href => relative("/website/highlight/highlight.css")}
    %link(rel="stylesheet"){:href => relative("/website/tabzilla/tabzilla.css")}
    %link(rel="stylesheet"){:href => relative("/website/optaplannerWebsite.css")}
    %link(rel="stylesheet"){:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"}
    :plain
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    %link{:rel => "shortcut icon", :href => relative("/favicon.ico")}

  %body(data-spy="scroll" data-target=".bs-docs-sidebar")
    -# Google Tag Manager (which includes Google Analytics) script part 1/2, if javascript is disabled
    :plain
      <noscript><iframe src="//www.googletagmanager.com/ns.html?id=#{site.googleTagManagerId}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    %header.navbar.navbar-default.navbar-fixed-top(role="navigation")
      #tabzillaHolder
      .dropup
        %a#tab.tabnav-closed{:href => "https://www.jboss.org"} Red Hat
        %script
          window.addEventListener('load', function() { renderTabzilla("OptaPlanner","optaplanner", true) });
      .container
        .navbar-header
          -# When the screen width is too little, these 3 icon-bar spans are needed to show the collapsed navbar
          %a.button.navbar-toggle(data-toggle="collapse" data-target="#baseNavigation")
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand(style="padding: 10px;"){:href => relative("/")}
            %img(alt="OptaPlanner logo"){:src => relative("/headerFooter/optaPlannerLogo200px.png")}
        .collapse.navbar-collapse#baseNavigation
          %ul.nav.navbar-nav
            %li<
              %a{:href => relative("/")} Home
            %li<
              %a{:href => relative("/download/download.html")} Download
            %li.dropdown
              %a.dropdown-toggle(data-toggle="dropdown" href="#")<
                = precede 'Learn ' do
                  %b.caret>
              %ul.dropdown-menu
                %li<
                  %a{:href => relative("/learn/documentation.html")} Documentation
                %li<
                  %a{:href => relative("/learn/video.html")} Videos
                %li<
                  %a{:href => relative("/learn/slides.html")} Slides
                %li<
                  %a{:href => relative("/learn/training.html")} Training
                %li.divider
                %li<
                  %a{:href => relative("/learn/testimonialsAndCaseStudies.html")} Testimonials and Case Studies
            %li.dropdown
              %a.dropdown-toggle(data-toggle="dropdown" href="#")<
                = precede 'Community ' do
                  %b.caret>
              %ul.dropdown-menu
                %li<
                  %a{:href => relative("/community/forum.html")} Forum
                %li<
                  %a{:href => relative("/community/chat.html")} Chat
                %li<
                  %a{:href => relative("/community/product.html")} Product
                %li.divider
                %li<
                  %a{:href => relative("/community/socialMedia.html")} Social media
                %li<
                  %a{:href => relative("/blog/")} Blog
                %li<
                  %a{:href => relative("/community/team.html")} Team
                %li<
                  %a{:href => relative("/community/research.html")} Research
            %li.dropdown
              %a.dropdown-toggle(data-toggle="dropdown" href="#")<
                = precede 'Code ' do
                  %b.caret>
              %ul.dropdown-menu
                %li<
                  %a{:href => relative("/code/issueTracker.html")} Report an issue
                %li<
                  %a{:href => relative("/code/sourceCode.html")} Source code
                %li<
                  %a{:href => relative("/code/continuousIntegration.html")} Continuous integration
                %li.divider
                %li<
                  %a{:href => relative("/code/license.html")} License
            %li.dropdown
              %a.dropdown-toggle(data-toggle="dropdown" href="#")<
                = precede 'KIE ' do
                  %b.caret>
              %ul.dropdown-menu
                %li<
                  %a(href="http://www.drools.org/" target="_blank" title="Rule engine") Drools
                %li<
                  %a(href="http://www.jbpm.org/" target="_blank" title="Workflow engine") jBPM
                %li<
                  %a(href="http://www.optaplanner.org/" target="_blank" title="Planning engine") OptaPlanner
                %li.divider
                %li<
                  %a(href="http://www.kiegroup.org/" target="_blank" title="Knowledge is everything group") KIE group
          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle(data-toggle="dropdown" href="#")<
                = precede 'Follow us ' do
                  %b.caret>
              %ul.dropdown-menu
                %li<
                  %a(href="https://plus.google.com/+OptaPlannerOrg" rel="publisher" target="_blank" title="News stream via Google+")<
                    %img{:src => relative("/headerFooter/googlePlusLogo.png"), :alt => "G+"} &nbsp;Google+
                %li<
                  %a(href="https://twitter.com/OptaPlanner" target="_blank" title="News stream via Twitter")<
                    %img{:src => relative("/headerFooter/twitterLogo.png"), :alt => "T"} &nbsp;Twitter
                %li<
                  %a(href="https://www.facebook.com/OptaPlanner" target="_blank" title="News stream via Facebook")<
                    %img{:src => relative("/headerFooter/facebookLogo.png"), :alt => "Fb"} &nbsp;Facebook
            %li.navbar-form(style="padding-top: 5px;")
              -# The plusone button fails with data-href="https://plus.google.com/+OptaPlannerOrg"
              %div(class="g-plusone" data-href="https://plus.google.com/112724449845406009021") &nbsp;

    .body-without-header-footer
      .forkMeOnGithub
        %a(href="https://github.com/droolsjbpm/optaplanner")
          %img{:src => relative("/headerFooter/forkMeOnGithub.png"), :alt => "Fork me on GitHub"}

      .container(style="padding-top: 20px;")
        ~ content

    %footer
      .container
        .row
          .col-md-6
            %p
              Development is sponsored by
              %a(href="http://www.redhat.com/")<
                %img{:src => relative("/headerFooter/redHatLogo.png"), :alt => "Red Hat"}
            %p
              OptaPlanner is part of the
              %a(href="http://www.jboss.org/")<
                %img{:src => relative("/headerFooter/jbossCommunityLogo.png"), :alt => "JBoss Community"}
          .col-md-6
            :markdown
              &copy; Copyright 2006-#{Time.now.strftime( '%Y' )}, Red Hat, Inc. or third-party contributors
            %p
              %a(href="http://www.redhat.com/legal/legal_statement.html") Terms of use
              \-
              %a(href="http://www.redhat.com/legal/privacy_statement.html") Privacy policy
              \-
              %a(href="#{relative("/website/websiteInfo.html")}") Website info
              \-
              %span.btn-group.btn-group-xs
                %a.btn.btn-default(role="button" href="https://github.com/droolsjbpm/optaplanner-website/blob/master#{page.relative_source_path}") Page source
                %a.btn.btn-default(role="button" href="https://github.com/droolsjbpm/optaplanner-website/edit/master#{page.relative_source_path}") Edit this page

    -# Google Tag Manager (which includes Google Analytics) script part 2/2, if javascript is enabled
    :plain
      <script type="text/javascript">
        dataLayer = [{'channel' : '#{site.googleTagManagerChannel}', 'additional_tracking_code' : '#{site.googleAnalyticsId}'}];
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','#{site.googleTagManagerId}');
      </script>
    %script{:src => relative("/website/jquery/jquery.min.js")}
    %script{:src => relative("/website/bootstrap/js/bootstrap.min.js")}
    %script{:src => relative("/website/highlight/highlight.js")}
    %script{:src => relative("/website/tabzilla/tabzilla.js")}
    %script{:src => relative("/website/optaplannerWebsite.js")}
    %script(type="text/javascript")<
      hljs.initHighlightingOnLoad();
    -# g-plusone script
    :plain
      <script type="text/javascript">
        (function() {
          var po = document.createElement('script');
          po.type = 'text/javascript';
          po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(po, s);
        })();
      </script>
