!!! 5
%html(lang="en")
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title #{escape_once(site.title)} - #{escape_once(page.title)}
    %meta(name="description"){:content=>page.description ? page.description : site.description}
    - if site.keywords
      %meta(name='keywords'){:content=>site.keywords}

    %link{:rel => "stylesheet", :href => relative("/twitterbootstrap/css/bootstrap.min.css")}
    %link{:rel => "stylesheet", :href => relative("/twitterbootstrap/css/bootstrap-responsive.min.css")}
    %link{:rel => "stylesheet", :href => relative("/twitterbootstrap/css/prettify.css")}
    -# %link{:rel => "stylesheet", :href => site.jbossorg_bootstrap_css}
    %link{:rel => "stylesheet", :href => relative("/website/optaplannerWebsite.css")}
    :plain
      <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
      <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
    %link{:rel => "shortcut icon", :href => relative("/favicon.ico")}
    
  %body(data-spy="scroll" data-target=".bs-docs-sidebar")

    %header.navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => relative("/")}
            %img{:src => relative("/headerFooter/optaPlannerLogo200px.png")}
          -# When the screen width is too little, these 3 icon-bar spans are needed to show the collapsed navbar
          %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %nav.nav-collapse(role="navigation")
            %ul.nav(style="padding: 5px;")
              %li<
                %a{:href => relative("/")} Home
              %li<
                %a{:href => relative("/download/download.html")} Download
              %li.dropdown
                %a.dropdown-toggle(data-toggle="dropdown" href="#")<
                  = precede 'Learn ' do
                    %b.caret>
                %ul.dropdown-menu
                  %li<
                    %a{:href => relative("/learn/documentation.html")} Documentation
                  %li<
                    %a{:href => relative("/learn/video.html")} Video's
                  %li<
                    %a{:href => relative("/learn/slides.html")} Slides
              %li.dropdown
                %a.dropdown-toggle(data-toggle="dropdown" href="#")<
                  = precede 'Community ' do
                    %b.caret>
                %ul.dropdown-menu
                  %li<
                    %a{:href => relative("/community/forum.html")} Forum
                  %li<
                    %a{:href => relative("/community/chat.html")} Chat
                  %li.divider
                  %li<
                    %a{:href => relative("/community/socialMedia.html")} Social Media
                  %li<
                    %a{:href => relative("/community/blog.html")} Blog
                  %li<
                    %a{:href => relative("/community/team.html")} Team
                  %li<
                    %a{:href => relative("/community/research.html")} Research
              %li.dropdown
                %a.dropdown-toggle(data-toggle="dropdown" href="#")<
                  = precede 'Code ' do
                    %b.caret>
                %ul.dropdown-menu
                  %li<
                    %a{:href => relative("/code/issueTracker.html")} Report an issue
                  %li<
                    %a{:href => relative("/code/sourceCode.html")} Source code
                  %li<
                    %a{:href => relative("/code/continuousIntegration.html")} Continuous integration
                  %li.divider
                  %li<
                    %a{:href => relative("/code/license.html")} License
            .pull-right
              %ul.nav(style="margin-right: 0px; padding: 5px;")
                %li.dropdown(style="margin-right: 10px;")
                  %a.dropdown-toggle(data-toggle="dropdown" href="#")<
                    = precede 'Follow us ' do
                      %b.caret>
                  %ul.dropdown-menu
                    %li<
                      %a(href = "https://plus.google.com/112724449845406009021" target="_blank")
                        %img{:src => relative("/headerFooter/googlePlusLogo.png")}
                        Google+
                    %li<
                      %a(href = "https://twitter.com/#!/droolsplanner" target="_blank")
                        %img{:src => relative("/headerFooter/twitterLogo.png")}
                        Twitter (G+ sync)
                    %li<
                      %a(href = "https://www.facebook.com/DroolsPlanner" target="_blank")
                        %img{:src => relative("/headerFooter/facebookLogo.png")}
                        Facebook (G+ sync)
                %li(style="padding: 5px;")
                  %div(class="g-plusone" data-href="https://plus.google.com/112724449845406009021") &nbsp;

    .body-without-header-footer
      %div(style="position: absolute; right: 0; border: 0; max-width: 20%;" )
        %a(href="https://github.com/droolsjbpm/optaplanner")
          %img{:src => relative("/headerFooter/forkMeOnGithub.png"), :alt => "Fork me on GitHub"}

      .container(style="padding-top: 20px;")
        ~ content

    %footer(style="background-color: #fafafa; box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1); margin-top: 10px;")
      .container
        .row-fluid
          .span6
            %p
              Development is sponsored by
              %a(href="http://www.redhat.com/")<
                %img{:src => relative("/headerFooter/redHatLogo.png"), :alt => "Red Hat"}
            %p
              OptaPlanner is part of the
              %a(href="http://www.jboss.org/")<
                %img{:src => relative("/headerFooter/jbossCommunityLogo.png"), :alt => "JBoss Community"}
          .span6
            :markdown
              [Terms of use](http://www.redhat.com/legal/legal_statement.html) - [Privacy policy](http://www.redhat.com/legal/privacy_statement.html) - [Website info](#{relative("/website/websiteInfo.html")})
            :markdown
              &copy; Copyright 2006-#{Time.now.strftime( '%Y' )}, Red Hat, Inc. or third-party contributors

    %script{:src => relative("/twitterbootstrap/js/jquery.min.js")}
    %script{:src => relative("/twitterbootstrap/js/bootstrap.min.js")}
    %script{:src => relative("/twitterbootstrap/js/prettify.js")}
    -# %script{:src => site.jbossorg_bootstrap_js}
    -# g-plusone script
    :plain
      <script type="text/javascript">
        (function() {
          var po = document.createElement('script');
          po.type = 'text/javascript';
          po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(po, s);
        })();
      </script>

