---
priority: 0.2
change_frequency: monthly
---
!!! 5
%html{:lang => page.lang ? page.lang : site.lang}
  %head
    -# Adobe Analytics for Red Hat - DPAL (DTM Property Auto-Loader) - part 1/2
    :plain
      <script id="dpal" src="https://www.redhat.com/dtm.js" type="text/javascript"></script>
    -# Google Analytics for kie team: Global site tag (gtag.js)
    :plain
      <script async src="https://www.googletagmanager.com/gtag/js?id=#{site.googleAnalyticsId}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '#{site.googleAnalyticsId}');
      </script>
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title #{escape_once(site.title + " - " + page.title)}
    %meta(name="description"){:content => page.description ? page.description : site.description}
    %meta(name="keywords"){:content => page.keywords ? page.keywords : site.keywords}
    %link(rel="canonical"){:href => page.canonical_url ? page.canonical_url : "#{site.canonicalBaseUrl}#{page.url}"}
    - if page.url.eql? '/'
      %meta(name="google-site-verification"){:content => "#{site.googleWebmasterToolsVerificationId}"}
    -# Social media: make it look good when shared
    %meta(property="og:title"){:content => escape_once(page.title)}
    %meta(property="og:description"){:content => page.description ? page.description : site.description}
    %meta(property="og:url"){:content => "#{site.canonicalBaseUrl}#{page.url}"}
    %meta(property="og:site_name"){:content => "OptaPlanner"}
    %meta(property="og:type"){:content => page.ogType ? page.ogType : "website"}
    %meta(property="og:image"){:content => page.share_image_url ? page.share_image_url : "#{site.canonicalBaseUrl}/headerFooter/optaPlannerIcon.png"}
    %meta(name="twitter:card"){:content => "summary"}
    %meta(name="twitter:site"){:content => "@OptaPlanner"}

    %link(rel="stylesheet"){:href => relative("/website/bootstrap/css/bootstrap.min.css")}
    %link(rel="stylesheet"){:href => relative("/website/highlight/highlight.css")}
    %link(rel="stylesheet"){:href => relative("/website/optaplannerWebsite.css")}
    -#%link(rel="stylesheet"){:href => relative("/website/font-awesome/css/font-awesome.min.css")}
    :plain
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    %link{:rel => "shortcut icon", :href => relative("/favicon.ico")}

  %body(data-spy="scroll" data-target=".bs-docs-sidebar")
    %header.navbar.navbar-default.navbar-fixed-top(role="navigation")
      .container
        .navbar-header
          -# When the screen width is too little, these 3 icon-bar spans are needed to show the collapsed navbar
          %a.button.navbar-toggle(data-toggle="collapse" data-target="#baseNavigation")
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand(style="padding: 10px;"){:href => relative("/")}
            %img(alt="OptaPlanner logo"){:src => relative("/headerFooter/optaPlannerLogo200px.png")}
        .collapse.navbar-collapse#baseNavigation
          %ul.nav.navbar-nav
            %li<
              %a{:href => relative("/")} Home
            %li<
              %a{:href => relative("/download/download.html")} Download
            %li.dropdown
              %a.dropdown-toggle(data-toggle="dropdown" href="#")<
                = precede 'Learn ' do
                  %b.caret>
              %ul.dropdown-menu
                %li<
                  %a{:href => relative("/learn/documentation.html")} Documentation
                %li<
                  %a{:href => relative("/learn/video.html")} Videos
                %li<
                  %a{:href => relative("/learn/slides.html")} Slides
                %li<
                  %a{:href => relative("/learn/training.html")} Training
                %li.divider
                %li<
                  %a{:href => relative("/learn/useCases/index.html")} Use cases
                %li<
                  %a{:href => relative("/compatibility/index.html")} Compatibility
                %li<
                  %a{:href => relative("/learn/testimonialsAndCaseStudies.html")} Testimonials and case studies
            %li<
              %a{:href => relative("/community/getHelp.html")} Get help
            %li<
              %a{:href => relative("/code/sourceCode.html")} Source
            %li<
              %a{:href => relative("/community/team.html")} Team
            %li<
              %a{:href => relative("/product/services.html")} Services
          %ul.nav.navbar-nav.navbar-right
            %li(style="padding: 12px 5px")<
              %a.github-button(href="https://github.com/kiegroup/optaplanner" data-show-count="true" aria-label="Star OptaPlanner on GitHub")< Star
            %li(style="padding: 12px 5px")<
              %a.twitter-follow-button(href="https://twitter.com/OptaPlanner" data-show-count="false" data-show-screen-name="false")< @OptaPlanner
            %li(style="padding: 12px 5px")<
              %a(style="padding: 0" href="https://www.facebook.com/OptaPlanner" target="_blank" title="Follow OptaPlanner on Facebook")<
                %img{:src => relative("/headerFooter/facebookLogo.png"), :alt => "Fb"}

    .body-without-header-footer
      .forkMeOnGithub
        %a(href="https://github.com/kiegroup/optaplanner")
          %img{:src => relative("/headerFooter/forkMeOnGithub.png"), :alt => "Fork me on GitHub"}

      .container(style="padding-top: 20px;")
        ~ content

    %footer
      .container
        .row
          .col-md-3
            %h4 KIE projects
            %ul
              %li<
                %a(href="https://www.drools.org/" target="_blank") Drools rule engine
              %li<
                %a(href="https://www.optaplanner.org/" target="_blank") OptaPlanner constraint solver
              %li<
                %a(href="https://www.jbpm.org/" target="_blank") jBPM workflow engine
          .col-md-3
            %h4 Community
            %ul
              %li<
                %a{:href => relative("/blog/")} Blog
              %li<
                %a{:href => relative("/community/getHelp.html")} Get Help
              %li<
                %a{:href => relative("/community/team.html")} Team
              %li<
                %a{:href => relative("/community/governance.html")} Governance
              %li<
                %a{:href => relative("/community/research.html")} Academic research
          .col-md-3
            %h4 Code
            %ul
              %li<
                %a{:href => relative("/code/sourceCode.html")} Build from source
              %li<
                %a{:href => site.issueTracker} Submit a bug
              %li<
                %a{:href => relative("/code/license.html")} License (Apache-2.0)
              %li<
                %a{:href => relative("/download/releaseNotes/")} Release notes
              %li<
                %a{:href => relative("/download/upgradeRecipe/")} Upgrade recipes
          .col-md-3
            .sponsorMessage
              %span Sponsored by
              %br
              %a(href="https://www.redhat.com/")<
                %img{:src => relative("/headerFooter/redHatLogo.png"), :alt => "Red Hat", :width => "164", :height => "48"}
            .sponsorMessage
              %span More coder content at
              %br
              %a(href="https://developers.redhat.com/")<
                %img{:src => relative("/headerFooter/redHatDevelopersLogo.png"), :alt => "Red Hat Developers", :width => "164", :height => "48"}

        .row
          .col-md-12
            © Copyright 2006-#{Time.now.strftime( '%Y' )}, Red Hat, Inc. or third-party contributors
            \-
            %a(href="https://www.redhat.com/en/about/privacy-policy" target="_blank") Privacy statement
            \-
            %a(href="https://www.redhat.com/en/about/terms-use" target="_blank") Terms of use
            \-
            %a{:href => relative("/website/websiteInfo.html")} Website info

    %script{:src => relative("/website/jquery/jquery.min.js")}
    %script{:src => relative("/website/bootstrap/js/bootstrap.min.js")}
    %script{:src => relative("/website/highlight/highlight.js")}
    %script{:src => relative("/website/optaplannerWebsite.js")}
    %script(type="text/javascript")<
      hljs.initHighlightingOnLoad();
    -# GitHub star script
    %script(async defer src="https://buttons.github.io/buttons.js")
    -# Twitter follow script
    %script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
    -# Adobe Analytics for Red Hat - DPAL (DTM Property Auto-Loader) - part 2/2
    :plain
      <script type="text/javascript">
        if (("undefined" !== typeof _satellite) && ("function" === typeof _satellite.pageBottom)) {
          _satellite.pageBottom();
        }
      </script>
