---
priority: 0.2
change_frequency: monthly
---
!!! 5
%html{:lang => page.lang ? page.lang : site.lang}
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title #{escape_once(site.title + " - " + page.title)}
    %meta(name="description"){:content => page.description ? page.description : site.description}
    %meta(name="keywords"){:content => page.keywords ? page.keywords : site.keywords}
    %link(rel="canonical"){:href => "#{site.canonicalBaseUrl}#{page.url}"}
    - if page.url.eql? '/'
      %meta(name="google-site-verification"){:content => "#{site.googleWebmasterToolsVerificationId}"}
    -# Social media: make it look good when shared
    %meta(property="og:title"){:content => escape_once(page.title)}
    %meta(property="og:description"){:content => page.description ? page.description : site.description}
    %meta(property="og:url"){:content => "#{site.canonicalBaseUrl}#{page.url}"}
    %meta(property="og:site_name"){:content => "OptaPlanner"}
    %meta(property="og:type"){:content => page.ogType ? page.ogType : "website"}
    %meta(property="og:image"){:content => page.share_image_url ? page.share_image_url : "#{site.canonicalBaseUrl}/headerFooter/optaPlannerIcon.png"}
    %meta(name="twitter:card"){:content => "summary"}
    %meta(name="twitter:site"){:content => "@OptaPlanner"}

    %link(rel="stylesheet"){:href => relative("/website/bootstrap/css/bootstrap.min.css")}
    %link(rel="stylesheet"){:href => relative("/website/highlight/highlight.css")}
    %link(rel="stylesheet"){:href => relative("/website/optaplannerWebsite.css")}
    -#%link(rel="stylesheet"){:href => relative("/website/font-awesome/css/font-awesome.min.css")}
    :plain
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    %link{:rel => "shortcut icon", :href => relative("/favicon.ico")}

  %body(data-spy="scroll" data-target=".bs-docs-sidebar")
    -# Google Tag Manager (which includes Google Analytics) script part 1/2, if javascript is disabled
    :plain
      <noscript><iframe src="//www.googletagmanager.com/ns.html?id=#{site.googleTagManagerId}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    %header.navbar.navbar-default.navbar-fixed-top(role="navigation")
      .container
        .navbar-header
          -# When the screen width is too little, these 3 icon-bar spans are needed to show the collapsed navbar
          %a.button.navbar-toggle(data-toggle="collapse" data-target="#baseNavigation")
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand(style="padding: 10px;"){:href => relative("/")}
            %img(alt="OptaPlanner logo"){:src => relative("/headerFooter/optaPlannerLogo200px.png")}
        .collapse.navbar-collapse#baseNavigation
          %ul.nav.navbar-nav
            %li<
              %a{:href => relative("/")} Home
            %li<
              %a{:href => relative("/download/download.html")} Download
            %li.dropdown
              %a.dropdown-toggle(data-toggle="dropdown" href="#")<
                = precede 'Learn ' do
                  %b.caret>
              %ul.dropdown-menu
                %li<
                  %a{:href => relative("/learn/documentation.html")} Documentation
                %li<
                  %a{:href => relative("/learn/video.html")} Videos
                %li<
                  %a{:href => relative("/learn/slides.html")} Slides
                %li<
                  %a{:href => relative("/learn/training.html")} Training
                %li.divider
                %li<
                  %a{:href => relative("/learn/useCases/index.html")} Use cases
                %li<
                  %a{:href => relative("/learn/testimonialsAndCaseStudies.html")} Testimonials and Case Studies
            %li<
              %a{:href => relative("/community/questions.html")} Questions
            %li<
              %a{:href => relative("/code/sourceCode.html")} Code
            %li<
              %a{:href => relative("/product/services.html")} Services
          %ul.nav.navbar-nav.navbar-right
            %li.navbar-form(style="padding-top: 5px;")
              %span
                %a.twitter-follow-button(href="https://twitter.com/OptaPlanner" data-show-count="false" data-show-screen-name="false")< @OptaPlanner
                %a(href="https://www.facebook.com/OptaPlanner" target="_blank" title="Follow OptaPlanner on Facebook")<
                  %img{:src => relative("/headerFooter/facebookLogo.png"), :alt => "Fb"}

    .body-without-header-footer
      .forkMeOnGithub
        %a(href="https://github.com/kiegroup/optaplanner")
          %img{:src => relative("/headerFooter/forkMeOnGithub.png"), :alt => "Fork me on GitHub"}

      .container(style="padding-top: 20px;")
        ~ content

    %footer
      .container
        .row
          .col-md-3
            %h4 KIE projects
            %ul
              %li<
                %a(href="https://www.drools.org/" target="_blank") Drools rule engine
              %li<
                %a(href="https://www.optaplanner.org/" target="_blank") OptaPlanner constraint solver
              %li<
                %a(href="https://www.jbpm.org/" target="_blank") jBPM workflow engine
          .col-md-3
            %h4 Community
            %ul
              %li<
                %a{:href => relative("/community/team.html")} Team
              %li<
                %a{:href => relative("/blog/")} Blog
              %li<
                %a{:href => relative("/community/governance.html")} Governance
              %li<
                %a{:href => relative("/community/research.html")} Academic research
          .col-md-3
            %h4 Code
            %ul
              %li<
                %a{:href => relative("/code/sourceCode.html")} Build from source
              %li<
                %a{:href => relative("/code/license.html")} License (Apache)
              %li<
                %a{:href => relative("/download/releaseNotes/")} Release notes
              %li<
                %a{:href => relative("/download/upgradeRecipe/")} Upgrade recipes
          .col-md-3
            .sponsorMessage
              %span Sponsored by
              %br
              %a(href="https://www.redhat.com/")<
                %img{:src => relative("/headerFooter/redHatLogo.png"), :alt => "Red Hat"}
            .sponsorMessage
              %span More coder content at
              %br
              %a(href="https://developers.redhat.com/")<
                %img{:src => relative("/headerFooter/redHatDevelopersLogo.png"), :alt => "Red Hat Developers"}

        .row
          .col-md-12
            © Copyright 2006-#{Time.now.strftime( '%Y' )}, Red Hat, Inc. or third-party contributors
            \-
            %a(href="https://www.redhat.com/en/about/privacy-policy" target="_blank") Privacy statement
            \-
            %a(href="https://www.redhat.com/en/about/terms-use" target="_blank") Terms of use
            \-
            %a{:href => relative("/website/websiteInfo.html")} Website info


    -# Google Tag Manager (which includes Google Analytics) script part 2/2, if javascript is enabled
    :plain
      <script type="text/javascript">
        dataLayer = [{'channel' : '#{site.googleTagManagerChannel}', 'additional_tracking_code' : '#{site.googleAnalyticsId}'}];
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','#{site.googleTagManagerId}');
      </script>
    %script{:src => relative("/website/jquery/jquery.min.js")}
    %script{:src => relative("/website/bootstrap/js/bootstrap.min.js")}
    %script{:src => relative("/website/highlight/highlight.js")}
    %script{:src => relative("/website/optaplannerWebsite.js")}
    %script(type="text/javascript")<
      hljs.initHighlightingOnLoad();
    -# Twitter follow script
    %script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
