!!! 5
%html(lang="en")
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title #{escape_once(site.title)} - #{escape_once(page.title)}
    %meta(name="description"){:content => page.description ? page.description : site.description}
    %meta(name="keywords"){:content => page.keywords ? page.keywords : site.keywords}
    %link(rel="canonical"){:href => "#{site.canonicalBaseUrl}#{page.url}"}

    %link(rel="stylesheet"){:href => relative("/twitterbootstrap/css/bootstrap.min.css")}
    %link(rel="stylesheet"){:href => relative("/twitterbootstrap/css/bootstrap-responsive.min.css")}
    %link(rel="stylesheet"){:href => relative("/twitterbootstrap/css/highlight.css")}
    -# %link(rel="stylesheet"){:href => site.jbossorg_bootstrap_css}
    %link(rel="stylesheet"){:href => relative("/website/optaplannerWebsite.css")}
    :plain
      <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
      <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
    %link{:rel => "shortcut icon", :href => relative("/favicon.ico")}
    
  %body(data-spy="scroll" data-target=".bs-docs-sidebar")

    %header.navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => relative("/")}
            %img{:src => relative("/headerFooter/optaPlannerLogo200px.png")}
          -# When the screen width is too little, these 3 icon-bar spans are needed to show the collapsed navbar
          %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %nav.nav-collapse(role="navigation")
            %ul.nav(style="padding: 5px;")
              %li<
                %a{:href => relative("/")} Home
              %li<
                %a{:href => relative("/download/download.html")} Download
              %li.dropdown
                %a.dropdown-toggle(data-toggle="dropdown" href="#")<
                  = precede 'Learn ' do
                    %b.caret>
                %ul.dropdown-menu
                  %li<
                    %a{:href => relative("/learn/documentation.html")} Documentation
                  %li<
                    %a{:href => relative("/learn/video.html")} Video's
                  %li<
                    %a{:href => relative("/learn/slides.html")} Slides
                  %li<
                    %a{:href => relative("/learn/testimonialsAndCaseStudies.html")} Testimonials and Case Studies
              %li.dropdown
                %a.dropdown-toggle(data-toggle="dropdown" href="#")<
                  = precede 'Community ' do
                    %b.caret>
                %ul.dropdown-menu
                  %li<
                    %a{:href => relative("/community/forum.html")} Forum
                  %li<
                    %a{:href => relative("/community/chat.html")} Chat
                  %li.divider
                  %li<
                    %a{:href => relative("/community/socialMedia.html")} Social Media
                  %li<
                    %a{:href => relative("/community/blog.html")} Blog
                  %li<
                    %a{:href => relative("/community/team.html")} Team
                  %li<
                    %a{:href => relative("/community/research.html")} Research
              %li.dropdown
                %a.dropdown-toggle(data-toggle="dropdown" href="#")<
                  = precede 'Code ' do
                    %b.caret>
                %ul.dropdown-menu
                  %li<
                    %a{:href => relative("/code/issueTracker.html")} Report an issue
                  %li<
                    %a{:href => relative("/code/sourceCode.html")} Source code
                  %li<
                    %a{:href => relative("/code/continuousIntegration.html")} Continuous integration
                  %li.divider
                  %li<
                    %a{:href => relative("/code/license.html")} License
          .pull-right(style="padding: 10px 10px 10px 10px;vertical-align: middle;")
            %div(class="g-plusone" data-href="https://plus.google.com/112724449845406009021") &nbsp;
          .pull-right(style="padding: 12px 10px 10px 10px;vertical-align: middle;")
            %span()
              Follow:
              %a(href = "https://plus.google.com/112724449845406009021" target="_blank" title="Google+")<
                %img{:src => relative("/headerFooter/googlePlusLogo.png")}
              %a(href = "https://twitter.com/optaplanner" target="_blank" title="Twitter (G+ sync)")<
                %img{:src => relative("/headerFooter/twitterLogo.png")}
              %a(href = "https://www.facebook.com/OptaPlanner" target="_blank" title="Facebook (G+ sync)")<
                %img{:src => relative("/headerFooter/facebookLogo.png")}

    .body-without-header-footer
      %div(style="position: absolute; right: 0; border: 0; max-width: 20%;" )
        %a(href="https://github.com/droolsjbpm/optaplanner")
          %img{:src => relative("/headerFooter/forkMeOnGithub.png"), :alt => "Fork me on GitHub"}

      .container(style="padding-top: 20px;")
        ~ content

    %footer(style="background-color: #fafafa; box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1); margin-top: 20px; padding-top: 5px;")
      .container
        .row-fluid
          .span6
            %p
              Development is sponsored by
              %a(href="http://www.redhat.com/")<
                %img{:src => relative("/headerFooter/redHatLogo.png"), :alt => "Red Hat"}
            %p
              OptaPlanner is part of the
              %a(href="http://www.jboss.org/")<
                %img{:src => relative("/headerFooter/jbossCommunityLogo.png"), :alt => "JBoss Community"}
          .span6
            :markdown
              &copy; Copyright 2006-#{Time.now.strftime( '%Y' )}, Red Hat, Inc. or third-party contributors
            %p
              %a(href="http://www.redhat.com/legal/legal_statement.html") Terms of use
              \-
              %a(href="http://www.redhat.com/legal/privacy_statement.html") Privacy policy
              \-
              %a(href="#{relative("/website/websiteInfo.html")}") Website info
              \-
              %span.btn-group
                %a.btn.btn-mini(href="https://github.com/droolsjbpm/optaplanner-website/blob/master#{page.relative_source_path}") Page source
                %a.btn.btn-mini(href="https://github.com/droolsjbpm/optaplanner-website/edit/master#{page.relative_source_path}") Edit this page

    %script{:src => relative("/twitterbootstrap/js/jquery.min.js")}
    %script{:src => relative("/twitterbootstrap/js/bootstrap.min.js")}
    %script{:src => relative("/twitterbootstrap/js/highlight.js")}
    %script
      hljs.initHighlightingOnLoad();
    -# %script{:src => site.jbossorg_bootstrap_js}
    -# g-plusone script and google analytics script
    :plain
      <script type="text/javascript">
        (function() {
          var po = document.createElement('script');
          po.type = 'text/javascript';
          po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(po, s);
        })();
      </script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{site.googleAnalyticsId}']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>

