!!! 5
%html(lang="en")
  %head
    %meta(charset='utf-8')
    %title #{escape_once(site.title)} - #{escape_once(page.title)}
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name="description"){:content=>page.description ? page.description : site.description}
    - if site.keywords
      %meta(name='keywords'){:content=>site.keywords}

    %link(href="#{site.bootstrap_css_url}/bootstrap-community.css" rel="stylesheet" media="screen")
    / IE 6-8 support of HTML 5 elements
    /[if lt IE 9]
      %script(src="#{site.jborg_js_url}/libs/html5/pre3.6/html5.min.js")
    %link(rel="shortcut icon" href="/favicon.ico")
    
  %body(data-spy="scroll" data-target=".bs-docs-sidebar")
    %header.navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand(href="/")
            %img{:src=>"/headerFooter/optaPlannerLogoDark450px.png"}
          %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %nav.nav-collapse(role="navigation")
            %ul.nav
              %li<
                %a(href="/") Home
              %li<
                %a(href="/download/download.html") Download
              %li.dropdown
                %a.dropdown-toggle(data-toggle="dropdown" href="#")<
                  = precede 'Learn ' do
                    %b.caret>
                %ul.dropdown-menu
                  %li<
                    %a(href="/learn/video.html") Video's
                  %li<
                    %a(href="/learn/documentation.html") Documentation
                  %li<
                    %a(href="/learn/presentation.html") Presentations
              %li.dropdown
                %a.dropdown-toggle(data-toggle="dropdown" href="#")<
                  = precede 'Community ' do
                    %b.caret>
                %ul.dropdown-menu
                  %li<
                    %a(href="/community/socialMedia.html") Social Media
                  %li<
                    %a(href="/community/blog.html") Blog
                  %li<
                    %a(href="/community/team.html") Team
                  %li.divider
                  %li<
                    %a(href="/community/forum.html") Forum
                  %li<
                    %a(href="/community/chat.html") Chat
              %li.dropdown
                %a.dropdown-toggle(data-toggle="dropdown" href="#")<
                  = precede 'Code ' do
                    %b.caret>
                %ul.dropdown-menu
                  %li<
                    %a(href="/code/issueTracker.html") Report an issue
                  %li<
                    %a(href="/code/sourceCode.html") Source code
                  %li<
                    %a(href="/code/continuousIntegration.html") Continuous integration
                  %li.divider
                  %li<
                    %a(href="/code/license.html") License

            .pull-right
              %div(class="g-plusone" data-href="https://plus.google.com/112724449845406009021")&nbsp;

    .container(style="padding-top: 70px;")
      ~ content

    %footer
      %hr
      .container
        .row-fluid
          .span6
            .company
              %a(href="http://www.redhat.com/")<
                %img(src="#{site.jborg_images_url}/common/redhat_logo.png")
            :markdown
              &copy; Copyright 2010-#{Time.now.strftime( '%Y' )}, Red Hat, Inc. or third-party contributors
            :markdown
              OptaPlanner is a [JBoss Community](http://www.jboss.org/) project. Development is sponsored by [Red Hat](http://www.redhat.com/).
          .span6
            :markdown
              [Terms of use](http://www.redhat.com/legal/legal_statement.html) - [Privacy policy](http://www.redhat.com/legal/privacy_statement.html)
            :markdown
              Site generated on #{Time.now.strftime( '%Y-%m-%d %H:%M %Z' )}

    %script(src="#{site.jborg_js_url}/libs/jquery/1.8.1/jquery#{site.minified}.js")
    %script(src="#{site.jborg_js_url}/libs/prettify/188.0.0/prettify.min.js")
    %script(src="#{site.jborg_js_url}/libs/holder/1.9/holder.js")
    %script Holder.add_theme("community", { background: "#eee", foreground: "#aaa", size: 12 })
    %script(src="#{site.bootstrap_js_url}/bootstrap-community#{site.minified}.js")
    -# g-plusone
    :plain
      <script type="text/javascript">
        (function() {
          var po = document.createElement('script');
          po.type = 'text/javascript';
          po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(po, s);
        })();
      </script>

