---
layout: blogBase
change_frequency: yearly
---
- page.description = summarize(html_to_text(page.content).strip, 50) if !page.description
- page.share_image_url = "#{site.canonicalBaseUrl}#{page.output_path.sub(Regexp.new('/[^/]*$'), '/')}#{page.share_image_filename}" if page.share_image_filename

= partial('blogPostBaseNavigation.html.haml', :outputPage => page, :post => page)
= partial('blogPostBody.html.haml', :outputPage => page, :post => page, :include_comments => true)
.comments
  %a(name = 'comments')
  %h2 Comments
  -#= page.disqus_comments
  %a.btn.btn-default(href="#{site.googleGroupURL}" style="margin-left: 20px")<
    Visit our forum to comment
= partial('blogPostBaseNavigation.html.haml', :outputPage => page, :post => page)
