---
layout: base
---
.row
  .col-md-9
    ~ content
    = partial('whatIsOptaPlanner.html.haml', :outputPage => page)
    = partial('relatedBlogPosts.html.haml', :outputPage => page, :related_tag => page.related_tag)
    = partial('relatedVideos.html.haml', :outputPage => page, :related_tag => page.related_tag)
  .col-md-3
    = partial('downloadJumbotron.html.haml', :outputPage => page)
    = partial('documentationJumbotron.html.haml', :outputPage => page)
    = partial('latestReleases.html.haml', :outputPage => page)
    = partial('events.html.haml', :outputPage => page)
    = partial('latestBlogPosts.html.haml', :outputPage => page)
    = partial('latestVideos.html.haml', :outputPage => page)
