---
layout: normalBaseWithComments
---
- releaseNotesAreFinal = page.release_notes_version_qualifier.eql? 'Final'
%h1
  #{page.title}
:asciidoc
  [.summaryParagraph]
  We are happy to announce #{releaseNotesAreFinal ? 'the' : 'a'} #{page.release_notes_version} *#{page.release_notes_version_qualifier}* release of https://www.optaplanner.org[OptaPlanner].
  OptaPlanner is a lightweight, embeddable planning engine written in Java™ to solve constraint satisfaction problems efficiently.
  It is released alongside the https://www.drools.org[Drools] rule engine and the https://www.jbpm.org[jBPM] workflow engine.

.row
  .col-md-7
    = partial('demoVideos.html.haml', :outputPage => page)

    .text-center<
      %span
        %a.btn.btn-lg.btn-success.versionedButton{:href => releaseNotesAreFinal ? site.pom.latestFinal.distributionZip : site.pom.latest.distributionZip}
          %img{:src => relative("/download/download.png", page), :alt => "Download"}
          %div
            %span Download
            %br
            %span.small #{releaseNotesAreFinal ? site.pom.latestFinal.version : site.pom.latest.version}
        %a.btn.btn-lg.btn-primary.versionedButton{:href => releaseNotesAreFinal ? site.pom.latestFinal.engineDocumentationHtmlSingle : site.pom.latest.engineDocumentationHtmlSingle}
          %img{:src => relative("/learn/documentation.png", page), :alt => "Documentation"}
          %div
            %span Documentation
            %br
            %span.small #{releaseNotesAreFinal ? site.pom.latestFinal.version : site.pom.latest.version}

  .col-md-5
    .panel.panel-default
      .panel-heading Status of OptaPlanner
      .panel-body
        %ul.list-unstyled
          %li
            %strong Stable:
            Lots of unit, integration and stress tests
          %li
            %strong Reliable:
            Used
            %a{:href => relative("/learn/testimonialsAndCaseStudies.html")} across the world
            in production
          %li
            %strong Scalable:
            To billions of constraint matches with minimal RAM and CPU time
          %li
            %strong Documented:
            Read
            %a{:href => relative("/learn/documentation.html")} the detailed reference manual
            and the many examples
          %li
            %strong Open Source:
            %a{:href => relative("/code/license.html")} Apache Software License
    = partial('productToProjectVersionMapping.html.haml', :outputPage => page)

~ content

:asciidoc
  == Upgrade your code to #{page.release_notes_version}

  The best and easiest way to upgrade to this new version of OptaPlanner is by following
  link:../upgradeRecipe/upgradeRecipe#{page.release_notes_version}.html[the upgrade recipe].

  == New features in older releases

  Read link:./[the previous release notes] to learn about the new and noteworthy in previous releases.
