---
layout: normalBaseWithComments
---
- releaseNotesAreFinal = page.release_notes_version_qualifier.eql? 'Final'
%h1
  #{page.title}
:asciidoc
  [.summaryParagraph]
  We are happy to announce #{releaseNotesAreFinal ? 'the' : 'a'} #{page.release_notes_version} *#{page.release_notes_version_qualifier}* release of http://www.optaplanner.org[OptaPlanner].
  OptaPlanner is a lightweight, embeddable planning engine written in Java™ to solve constraint satisfaction problems efficiently.
  It is released alongside the http://www.drools.org[Drools] rule engine and the http://www.jbpm.org[jBPM] workflow engine.

.row
  .col-md-7
    %h2(style="margin-top: 0px;") Demo videos
    :asciidoc
      Each of these videos demonstrates an example and/or a special feature:

      * http://www.youtube.com/watch?v=wLK2-4IGtWY&list=PLJY69IMbAdq0uKPnjtWXZ2x7KE1eWg3ns[Meeting scheduling]: Time grain design pattern
      * http://www.youtube.com/watch?v=NdyIf0JG94Y&list=PLJY69IMbAdq0uKPnjtWXZ2x7KE1eWg3ns[Investment portfolio optimization]
      * http://www.youtube.com/watch?v=r6KsveB6v-g&list=PLJY69IMbAdq0uKPnjtWXZ2x7KE1eWg3ns[Cheap power time scheduling]
      * http://www.youtube.com/watch?v=u_bl6E7aiNY&list=PLJY69IMbAdq0uKPnjtWXZ2x7KE1eWg3ns[Exam timetabling]: User defined score parametrization
      * http://www.youtube.com/watch?v=L98J6HhSCXQ&list=PLJY69IMbAdq0uKPnjtWXZ2x7KE1eWg3ns[Dinner party scheduling]: Decision tables
      * http://www.youtube.com/watch?v=K084NKRZqkg&list=PLJY69IMbAdq0uKPnjtWXZ2x7KE1eWg3ns[Cloud optimization]: Decision tables
      * http://www.youtube.com/watch?v=xhCtuM-Hiic&list=PLJY69IMbAdq0uKPnjtWXZ2x7KE1eWg3ns[Cloud optimization]: Real time planning
      * http://www.youtube.com/watch?v=4meWIhPRVn8&list=PLJY69IMbAdq0uKPnjtWXZ2x7KE1eWg3ns[Course scheduling]: Immovable planning entities
      * http://www.youtube.com/watch?v=_2zweB9JD7c&list=PLJY69IMbAdq0uKPnjtWXZ2x7KE1eWg3ns[Project job scheduling]: Build-in hard constraints
      * http://www.youtube.com/watch?v=IB2CxfLhHG4&list=PLJY69IMbAdq0uKPnjtWXZ2x7KE1eWg3ns[Tennis club scheduling]: Fairness and load balancing constraints
      * http://www.youtube.com/watch?v=BxO3UFmtAPg&list=PLJY69IMbAdq0uKPnjtWXZ2x7KE1eWg3ns[Vehicle routing with time windows]: Shadow variables and real-time planning
      * http://www.youtube.com/watch?v=4hp_Qg1hFgE&list=PLJY69IMbAdq0uKPnjtWXZ2x7KE1eWg3ns[Vehicle routing scoring]: Score function flexibility
      * http://www.youtube.com/watch?v=7nPagqJK3bs&list=PLJY69IMbAdq0uKPnjtWXZ2x7KE1eWg3ns[Employee rostering]: Continuous planning

    .text-center<
      %span
        %a.btn.btn-lg.btn-success.versionedButton{:href => releaseNotesAreFinal ? site.pom.latestFinal.distributionZip : site.pom.latest.distributionZip}
          %img{:src => relative("/download/download.png", page), :alt => "Download"}
          %div
            %span Download
            %br
            %span.small #{releaseNotesAreFinal ? site.pom.latestFinal.version : site.pom.latest.version}
        %a.btn.btn-lg.btn-primary.versionedButton{:href => releaseNotesAreFinal ? site.pom.latestFinal.documentationHtmlSingle : site.pom.latest.documentationHtmlSingle}
          %img{:src => relative("/learn/documentation.png", page), :alt => "Documentation"}
          %div
            %span Documentation
            %br
            %span.small #{releaseNotesAreFinal ? site.pom.latestFinal.version : site.pom.latest.version}

  .col-md-5
    .panel.panel-default
      .panel-heading Status of OptaPlanner
      .panel-body
        %ul.list-unstyled
          %li
            %strong Stable:
            Lots of unit, integration and stress tests
          %li
            %strong Reliable:
            Used
            %a{:href => relative("/learn/testimonialsAndCaseStudies.html")} across the world
            in production
          %li
            %strong Scalable:
            To billions of constraint matches with minimal RAM and CPU time
          %li
            %strong Documented:
            Read
            %a{:href => relative("/learn/documentation.html")} the detailed reference manual
            and many examples
          %li
            %strong Open Source:
            %a{:href => relative("/code/license.html")} Apache Software License
    .panel.panel-default
      .panel-heading Note for Red Hat customers
      .panel-body
        %p
          The BRMS/BPMS version does
          %strong NOT
          match the OptaPlanner version:
        = partial('productToProjectVersionMapping.html.haml', :outputPage => page)

~ content

:asciidoc
  == Upgrade your code to #{page.release_notes_version}

  The best and easiest way to upgrade to this new version of OptaPlanner is by following
  link:../upgradeRecipe/upgradeRecipe#{page.release_notes_version}.html[the upgrade recipe].

  == New features in older releases

  Read link:./[the previous release notes] to learn about the new and noteworthy in previous releases.
